.node{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: pink;
    padding: 0;
}

table{
    border-collapse:collapse;
    border:1px solid black;
    padding:0;
}

td{
    padding:0;
}

.node-start{
    background-color: orange;
    transition: 0.3s all ease-in-out;
}

.node-end{
    background-color: lightskyblue;
    transition: 0.3s all ease-in-out;
}

.node-regular{
    background-color: pink;
    transition: 0.3s all ease-in-out;
}

.node-visiting{
    background-color: green;
    transition: 0.3s all ease-in-out;
}

.node-visited{
    background-color: red;
    transition: 0.3s all ease-in-out;
}

#startNode{
    height:10px;
    width: 10px;
    z-index: 100;
    top:50%;
    left:50%;
    position: absolute;
}

.container{
    position: relative;
}



