<p>board works!</p>

<button (click) = 'test()'>hello</button>
<hr/>

<button (click) = 'RunAlgo("dfs")'>DFS</button>
<button (click) = 'RunAlgo("bfs")'>BFS</button>

<table cdkDropList class = 'pathVisualizer-board'  (cdkDropListDropped) ="drop($event)" >


    <tr *ngFor = "let row of board; let r = index">
        <td *ngFor = "let node of row; let c = index" class="container">
            <div #node class ="node" id="node-{{r}}-{{c}}" [ngClass] = "
            {
                'node-start': State.start === node.state,
                'node-end': State.end === node.state,
                'node-wall': State.wall === node.state,
                'node-regular': State.clean === node.state,
                'node-visiting': State.visiting === node.state,
                'node-visited' : State.visited === node.state,
                'node-shortestPath': State.onShortestPath === node.state
            }
            "  ></div>

            
<!-- "node.IsStart? 'node-start' : (node.IsEnd? 'node-end' : (node.state = State.visiting? 'node-visiting' : 'node-regular') )" -->
            <!-- TODO: this is for draggable start node & end Node -->
            <!-- <div cdkDrag *ngIf = "(r === start_row )&& (c === start_col)"  [ngClass] ="'node-end'" id = "startNode">
            </div>
            <div cdkDrag *ngIf = "(r === end_row) && (c === end_col)"  [ngClass] ="'node-end'" id = "endNode">     
            </div> -->
        </td>
    </tr>
</table>

